<script src="/jquery.js" type="text/javascript"><!-- --></script>
<script type="text/javascript">
    var jQ= jQuery;
    jQ(function(){
        jQ("#slidelink").change(function(){
            if(jQ("#slidelink").is(":checked")) jQ("#zip").attr("checked",true);
        });
    });
</script>

<div>
    <table>
        <tr><td colspan="2" class="sect-title">OOo/Word options</td></tr>
        <tr><td colspan="2" class="sub-title">Template</td></tr>
        <tr>
            <td colspan="2"><textarea name="template" rows="5" cols="60">$template</textarea></td>
        </tr>
        <tr>
            <td>or Upload</td>
            <td><input type="file" name="templatefile" size="30"/></td>
        </tr>
    </table>
    <table>
<tr><td colspan="2" class="sub-title">Rendition</td></tr>

 	<tr><td>
            <input type="checkbox" name="epub" id="epub" checked="checked"/>
            <label for="epub">Make epub rendition</label>
        </td></tr>
	<tr>
	<td>
<p>This is an experimental feature added to the ICE open source content conversion service. It splits documents into parts based on the use of Heading 1 style (or h1 in the ICE template). Try it out by uploading a .doc or .odt file. (DOCX does not work very well)</p>
<p>You can try this test document: <a href="http://dl.dropbox.com/u/24994372/thesis-test-document.doc">http://dl.dropbox.com/u/24994372/thesis-test-document.doc</a>
<p>Warning - this is slow and it may crash. If the service gives you problems <a href="mailto:pt@ptsefton.com">mail Peter Sefton</a>.</td>

	</tr>
        
        <tr><td>
            <input type="checkbox" name="pdflink" id="pdflink"/>
            <label for="pdflink">Include link to PDF rendition</label>
        </td></tr>
        <tr><td>
            <input type="checkbox" name="slidelink" id="slidelink"/>
            <label for="slidelink">Include link to slide rendition</label>
        </td></tr>
       
        <tr><td>
            <input type="checkbox" name="toc" id="toc" checked="checked"/>
            <label for="toc">Generate table of contents</label>
        </td></tr>
        <tr><td>
            <input type="checkbox" name="title" id="title"/>
            <label for="title">Do not include title in the HTML body</label>
        </td></tr>
        <tr><td>
            <input type="checkbox" name="sourcelink" id="sourcelink"/>
            <label for="sourcelink">Include source document (including derived ODT from DOC)</label>
        </td></tr>
        <tr><td><input type="checkbox" name="mods" id="mods"/>
            <label for="mods">Generate MODS</label>
        </td></tr>
        <tr><td><input type="checkbox" name="mets" id="mets"/>
            <label for="mets">Generate METS (return XML unless ZIP selected)</label>
        </td></tr>
        <tr><td><input type="checkbox" name="dc" id="dc"/>
            <label for="mets">Generate DC (return XML unless ZIP selected)</label>
        </td></tr>
        <tr><td><input type="checkbox" name="rdf" id="rdf"/>
            <label for="mets">Generate RDF (return XML unless ZIP selected)</label>
        </td></tr>
        <tr><td>
            <input type="checkbox" name="zip" id="zip"/>
            <label for="zip">Return as ZIP package</label>
        </td></tr>
\       
    </table>
</div>
