<table>
    <tr><td colspan="2" class="sect-title">Text to speech options</td></tr>
    <tr>
        <td>Format</td>
        <td>
            <select name="format">
                <option value="mp3" selected="selected">MP3</option>
                <option value="wav">Wave/AIFF</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Engine</td>
        <td>
            <select name="engine">
                <option value="native" selected="selected">OS Native (if possible)</option>
                <option value="other">other</option>
            </select>
        </td>
    </tr>
</table>