<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>$title</title>
		<style type="text/css">
			body, table td {
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-weight: normal;
			color: black;
			padding: 5px;
			margin: 5px;
			font-size: .8em;
			}
			.title  {
			font-size: 1.4em;
			font-weight: bold;
			color: #CC6600;
			font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
		</style>
	</head>

	<body>
		<h1>$heading</h1>
		<form method="POST" action="">
			<table style="border:1px solid black;">
                <tr>
                    <td> Repositiories: </td>
                    <td>
                      <select name="repName">
                      #for $rName in $repNames
                        <option value='$rName' #if $rName==$repName then " selected='selected'" else "" #>
                         $rName
                        </option>
                      #end for
                      </select>
                    </td>
                </tr>
				<tr>
					<td> Username: </td>
					<td>
						<input type="text" name="username" value="$username"/>
					</td>
				</tr>
				<tr>
					<td> Password: </td>
					<td>
						<input type="password" name="password" value=""/>
					</td>
				</tr>
				<tr>
					<td>&#160;</td>
					<td>
						<input type="submit" name="loginSubmit" value="Submit"/>
					</td>
				</tr>
			</table>
			<div>
    			<p><b>$messageHeader</b></p>
                <p>$message</p>
            </div>
		</form>
        <script type="text/javascript"><!--
            var f = document.forms[0];
            if(f.username.value=="") f.username.focus();
            else f.password.focus();
        --></script>
	</body>
</html>



