<table>
    <tr><td colspan="2" class="sect-title">GeoGebra options</td></tr>
    <tr>
        <td>Mode</td>
        <td>
            <input type="radio" name="mode" id="image" value="image" checked="checked"/>
            <label for="image">Preview image</label>
        </td>
    </tr>
    <tr>
        <td/>
        <td>
            <input type="radio" name="mode" id="applet" value="applet"/>
            <label for="applet">Applet HTML</label>
        </td>
    </tr>
    <tr>
        <td>Format</td>
        <td>
            <select name="format">
                <option value="png" selected="selected">PNG</option>
                <option value="svg">SVG</option>
                <option value="pdf">PDF</option>
                <option value="pdf">EPS</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Size</td>
        <td>
            <label for="width">W</label>
            <input type="text" name="width" id="width" size="5" value="300"/>
            <label for="width">H</label>
            <input type="text" name="height" id="height" size="5" value="300"/>
        </td>
    </tr>
</table>